<!-- HTML PAGE for the LIST OF STORIES page -->
<!-- 
REQUIRES: 
- list of available stories
 -->


{% extends "base.html" %}

<!-- ~~~~~~Here's the TITLE~~~~~~ -->
{% block title %}
CouchStories Stories
{% endblock %}

<!-- ~~~~~~Here's the BODY~~~~~~~ -->
{% block body %}

<h1 align = "center">Contribute to Couch Stories!</h1>

<!-- ~~~~~~LIST OF STORIES FOR CONTRIBUTION~~~~~~ -->
<DIV align = "center">
  Here's a list of stories available for contribution:
</DIV>

<br>

<!-- a for loop to go through list of available stories -->
<DIV align = "center">
  <form method = "POST" action = "/contribute">
  {% for s in stories %}
  <input type = "submit" value = '{{s}}' name = "link"> <br><br>
  {% endfor %}
  </form>
</DIV>


{% endblock %}
