<!-- HTML PAGE for the LOGIN page -->
<!--
REQUIRES:
 -->


{% extends "base.html" %}

<!-- ~~~~~~Here's the TITLE~~~~~~ -->
{% block title %}
Couch Stories Login
{% endblock %}

{% block header %}
<h1 align = "center">Login to Couch Stories! </h1>
{% endblock %}

<!-- ~~~~~~Here's the BODY~~~~~~~ -->
{% block body %}

<!-- ~~~~~~flash error messages~~~~ -->
<DIV align = "center">
  <font color = red>
  {% set messages = get_flashed_messages() %}
    {% for message in messages %}
      {{message}} <br>
  {% endfor %}
  </font>
</DIV>

<br><br>

<!-- ~~~~~~Login, give info~~~~ -->
<DIV align = "center">
<form method = "POST" action = "/login">
  Username: <input type = "text" name = "usr">
  <br>
  Password: <input type = "password" name = "pwd">
  <br> <br>
  <input type = "submit" value = "LOG IN" name = "login">
</form>
</DIV>
<br>

<!-- ~~~~~~Redirect to SIGNUP~~~~ -->
<DIV align = "center">
if you don't have an account, <br>
<form method = "POST" action = "/signup">
  <input type = "submit" value = "SIGN UP" name = "signup">
</form>
</DIV>

{% endblock %}
