<!-- HTML PAGE to view your PROFILE -->
<!-- 
REQUIRES: 
- title of story
- story archive
- contributors
 -->


{% extends "base.html" %}

<!-- ~~~~~~Here's the TITLE~~~~~~ -->
{% block title %}
Couch Stories - {{ title }}
{% endblock %}

<!-- ~~~~~~Here's the BODY~~~~~~~ -->
{% block body %}

<h1 align = "center">{{ title }}</h1>

<!-- contributors for loop -->
<DIV align = "center">
Contributors: 
{% for c in conts %}
{{c}},
{% endfor %}
</DIV>

<br><br>

<!-- story content -->
<DIV align = "center">
{{ archive }}
</DIV>

{% endblock %}
